body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}


/*header strat*/


/*nav bar*/

header .bg-light {
    background-color: #fff!important;
}

header .pic img {
    margin-top: -10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

header .navbar-light .navbar-nav .nav-link {
    color: #333333 !important;
    margin-right: 20px;
}

header .navbar-light .navbar-nav .nav-link:hover {
    color: #23A9E8 !important;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    font-size: 18px;
}


/*background header*/

header .intro {
    background: url('../img/bg/book-reading-literature-classics-education-read.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

header .overlay {
    /* background-color: #E02D6E;#23AAE8*/
    background: -moz-linear-gradient(left, rgba(224, 45, 110, 0.5) 0%, rgba(116, 117, 180, 0.5) 52.49%, rgba(35, 170, 232, 0.5) 92.82%);
    background: -webkit-linear-gradient(left, rgba(224, 45, 110, 0.5) 0%, rgba(116, 117, 180, 0.5) 52.49%, rgba(35, 170, 232, 0.5) 92.82%);
    background: linear-gradient(to right, rgba(224, 45, 110, 0.5) 0%, rgba(116, 117, 180, 0.5) 52.49%, rgba(35, 170, 232, 0.5) 92.82%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='rgba(224, 45, 110, 0.5)', endColorstr='rgba(35, 170, 232, 0.5)', GradientType=0);
    position: relative;
    height: 100%;
    /* Linear Gradient
    rgba(224, 45, 110, 0.5) @ 0%
    rgba(116, 117, 180, 0.5) @ 52.49%
    rgba(35, 170, 232, 0.5) @ 92.82% */
}

.intro .overlay .content {
    color: #fff;
    padding: 100px 0;
}

.intro .overlay .content h2 {
    margin-top: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.intro .overlay .content p {
    margin-top: 40px;
    font-size: 20px;
}


/*end header*/

.change-info {
    margin: 40px 0;
}

.change-info .pic {
    margin: 0 auto;
}

.change-info .pic img {
    height: auto;
    width: 250px;
    border-radius: 50%;
}

.change-info .second {
    margin: 20px 0 auto;
    text-align: center;
    font-weight: 700;
}

.change-info .second .l1 {
    width: 100%;
    margin-bottom: 25px;
}

.change-info .second .l2 {
    width: 50%;
    float: right;
    padding: 10px 20px;
    background-color: #23A9E8;
    border: 1px solid #23A9E8;
    border-radius: 5px;
    color: #fff;
}

.change-info .second .l2 i {
    margin-right: 10px;
}

.change-info .second input[type=file] {
    display: none
}

.change-info .second .btn-primary {
    width: 30%;
    color: #fff;
    float: left;
    background-color: #23A9E8;
    border-color: #23A9E8;
    padding: 10px 20px;
    font-weight: 800;
}

.change-info .form-control {
    background-color: #EDEDED;
    margin-bottom: 30px;
}

.change-info .first .btn {
    background-color: #23A9E8;
    border: 1px solid #23A9E8;
    padding: 10px 20px;
    width: 30%;
    color: #fff;
    margin-top: 30px;
}


/*start footer*/

.foot {
    background: url('../img/bg/background.jpg') center center no-repeat;
    background-size: cover;
    padding: 40px 20px;
}

.foot .copy {
    color: #fff;
    text-transform: capitalize;
}

.foot .copy p {
    margin-top: 0;
    margin-bottom: 0;
}


/*media query*/


/* Large desktop */

@media (min-width: 1200px) {}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .change-info .second .l2 {
        width: auto;
        float: unset;
        padding: 10px 20px;
        background-color: #23A9E8;
        border: 1px solid #23A9E8;
        border-radius: 5px;
        color: #fff;
    }
    .change-info .second .l2 i {
        margin-right: 10px;
    }
    .change-info .second input[type=file] {
        display: none
    }
    .change-info .second .btn-primary {
        width: auto;
        color: #fff;
        float: unset;
        background-color: #23A9E8;
        border-color: #23A9E8;
        padding: 10px 20px;
        font-weight: 800;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {}


/* Landscape phones and down */

@media (max-width: 480px) {
    .change-info .first .btn {
        margin-bottom: 50px;
    }
}